@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Nome"] = "Seu Nome";

}
<h1><marquee behaviour action="alternate">
    @ViewData["Nome"]
    </marquee>
</h1>